.add-company {
    background: white;
    width: 400px;
    height: 550px;
    border: 1px solid #c3c3c3;
    align-content: center;
    margin-top: 200px;
    margin-left: 400px;
    border-radius: 1%;
}

.container {
    padding: 16px;
    text-align: center;
}

.company-modal-bg {
    position: fixed;
    overflow: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 900;
  }
