<div class="solution container">
  <form>
    <h1>Sign In</h1>
    <mat-form-field>
            <input matInput placeholder="Enter your email" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
        <i class="material-icons" style="font-size: 20px" matSuffix>email</i>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" [formControl]="password" required>
        <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
        <i class="material-icons" style="font-size: 20px" matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</i>
    </mat-form-field>
  </form>
  <button class="signup-button">Sign in</button>
</div>

